@model DocsDigitalesApp.Models.UsuarioModel

@{
    ViewBag.Title = "Crear Usuario";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <!-- Estilos y Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/login.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!--login modal-->
    <div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="text-center">Crear Usuario</h1>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Create", "Autentificar", FormMethod.Post, htmlAttributes: new { @id = "FormCreateUser", @class = "form col-md-12 center-block" }))
                    { 
                        <div class="form-group">
                            <div id="msjAlerta" class="alert" role="alert" style="display: none;"></div>
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(u => u.Nombre, htmlAttributes: new { @class = "form-control", @placeholder = "Nombre" })
                            @Html.ValidationMessageFor(u => u.Nombre)
                            <span id="errorNombre" style="color: red; display: none;">*Ingrese su Nombre</span>
                        </div>
                        
                        <div class="form-group">
                            @Html.TextBoxFor(u => u.CorreoElectronico, htmlAttributes: new { @class = "form-control", @placeholder = "Correo Electrónico", @type = "email" })
                            @Html.ValidationMessageFor(u => u.CorreoElectronico)
                            <span id="errorCorreo" style="color: red; display: none;">*Ingrese su Correo Electrónico</span>
                        </div>
                        
                        
                        <div class="form-group">
                            @Html.TextBoxFor(u => u.RFC, htmlAttributes: new { @class = "form-control", @placeholder = "RFC" })
                            @Html.ValidationMessageFor(u => u.RFC)
                            <span id="errorRFC" style="color: red; display: none;">*Ingrese su RFC</span>
                        </div>
                        
                        <div class="form-group">
                            @Html.TextBoxFor(u => u.Empresa, htmlAttributes: new { @class = "form-control", @placeholder = "Empresa" })
                            @Html.ValidationMessageFor(u => u.Empresa)
                            <span id="errorEmpresa" style="color: red; display: none;">*Ingrese el nombre de su empresa</span>
                        </div>
                        
                        <div class="form-group">
                            @Html.PasswordFor(u => u.Contrasena, htmlAttributes: new { @class = "form-control", @placeholder = "Contraseña" })
                            @Html.ValidationMessageFor(u => u.Contrasena)
                            <span id="errorContrasena" style="color: red; display: none;">*Ingrese su Contraseña</span>
                        </div>
                        
                        <div class="form-group">
                            @Html.PasswordFor(u => u.ContrasenaConfirm, htmlAttributes: new { @class = "form-control", @placeholder = "Confirmar Contraseña" })
                            @Html.ValidationMessageFor(u => u.ContrasenaConfirm)
                            <span id="errorContrasenaConfirm" style="color: red; display: none;">*Confirme su Contraseña</span>
                            <span id="errorContrasenas" style="color: red; display: none;">*Las contraseñas deben coincidir</span>                          
                        </div>
                        
                        <div class="form-group">
                            <button id="btnCrearUsuario" name="btnCrear" type="button" class="btn btn-primary btn-block">Crear Usuario</button>
                        </div>
                     
                        if (TempData["Error"] != null)
                        {
                        <label style="color: red;">@TempData["Error"]</label> 
                        }
                    }
                </div>
                <div class="modal-footer">
                    <div class="col-md-12">
                        @Html.ActionLink("Regresar", "Login", null, htmlAttributes: new { @class = "btn btn-default btn-sm", @role = "button" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    Usuario registrado exitosamente, en unos segundos se le redigira a la pagina para que inicie sesión.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery y archivos JavaScript -->
    <script src="/Scripts/jquery-1.9.1.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/create.js"></script>
</body>
</html>
