@model DocsDigitalesApp.Models.AutentificarModel

@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <!-- Estilos y Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/login.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div class="container">
        @using (Html.BeginForm("Login", "Autentificar", FormMethod.Post,
            htmlAttributes: new
            {
                @id = "FormLogin",
                @class = "form-signin"
            }))
        {
            Html.ValidationSummary(true);
            
            <h2 class="form-signin-heading">Introducir sus datos</h2>       
            
            @Html.TextBoxFor(u => u.correoElectronico,
            htmlAttributes: new
            {
                @class = "form-control",
                @placeholder = "Correo Electrónico",
                @type = "email"
            })
            @Html.ValidationMessageFor(u => u.correoElectronico)
            <span id="errorCorreo" style="color: red; display: none">*Capturar Correo Electrónico</span>            
            
            
            @Html.PasswordFor(u => u.contrasena, htmlAttributes: new { @class = "form-control", @placeholder = "Contraseña" })
            @Html.ValidationMessageFor(u => u.contrasena)
            <span id="errorContrasena" style="color: red; display: none">*Capturar Contraseña</span>    
            
            <div>
                @Html.ActionLink("Crear cuenta", "Create")
            </div>         
    
            <input id="btnIniciarSesion" class="btn btn-lg btn-primary btn-block" type="submit" value="Iniciar Sesións" />
    
            if (TempData["Error"] != null)
            {
            <label style="color: red;">@TempData["Error"]</label> 
            }
        }
    </div>
    <!-- /container -->

    <!-- jQuery y archivos JavaScript -->
    <script src="/Scripts/jquery-1.9.1.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/login.js"></script>
</body>
</html>



