@model IEnumerable<DocsDigitalesApp.Models.SucursalViewModel>

@{
    Layout = "~/Views/Shared/_Main.cshtml";
    ViewBag.Title = "Sucursales";
}

<h2>@ViewBag.Title</h2>

<p>
    <!-- Button trigger modal -->
    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#frmNuevaSucursal">
        Crear Nueva
    </button>
    @*@Html.ActionLink("Crear Nueva", "Create", null, htmlAttributes: new { @class = "btn btn-primary btn-sm", @role = "button" })*@
</p>
<div class="table-responsive">
    <table class="table table-hover">
        <tr>

            @*            <th>
                @Html.DisplayNameFor(model => model.id_sucursal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_empresa)
            </th>*@
            <th>Nombre
            </th>
            <th>Calle
            </th>
            <th>Colonia
            </th>
            <th>Num. Ext.
            </th>
            <th>Num. Int.
            </th>
            <th>CP
            </th>
            <th>Ciudad
            </th>
            <th>Pais
            </th>
            <th>Total Empleados
            </th>
            @*<th></th>*@
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @*                <td>
                    @Html.DisplayFor(modelItem => item.id_sucursal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id_empresa)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.calle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.colonia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.num_ext)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.num_int)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.codigo_postal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ciudad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pais)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.no_empleados)
                </td>
                @*                <td>
                    @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Detalle", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Eliminar", "Delete", new { /* id=item.PrimaryKey */ })
                </td>*@
            </tr>
        }

    </table>
</div>

<!-- Modal Nueva Sucursal-->
<div class="modal fade" id="frmNuevaSucursal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Nueva Sucursal</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div id="msjAlerta" class="form-group" style="display: none;">
                    </div>
                </div>
                <div class="form-group">
                    <input id="frmNombre" type="text" class="form-control" placeholder="Nombre">
                    <span id="errorNombre" style="color: red; display: none;">*Ingrese el Nombre</span>
                </div>
                <div class="form-group">
                    <input id="frmCalle" type="text" class="form-control" placeholder="Calle">
                </div>
                <div class="form-group">
                    <input id="frmColonia" type="text" class="form-control" placeholder="Colonia">
                </div>
                <div class="form-group">
                    <input id="frmNumExt" type="text" class="form-control" placeholder="Número Exterior">
                </div>
                <div class="form-group">
                    <input id="frmNumInt" type="text" class="form-control" placeholder="Número Interior">
                </div>
                <div class="form-group">
                    <input id="frmCP" type="text" class="form-control" placeholder="Código Postal">
                </div>
                <div class="form-group">
                    <input id="frmCiudad" type="text" class="form-control" placeholder="Ciudad">
                </div>
                <div class="form-group">
                    <input id="frmPais" type="text" class="form-control " placeholder="País">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button id="btnGuardarSucursal" type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="/Scripts/jquery.numeric.js"></script>

    <script type="text/javascript">

        function ValidarRequeridos() {

            var valido = false;
            var Nombre = $('#frmNombre').val();
            var Calle = $('#frmCalle').val();
            var Colonia = $('#frmColonia').val();
            var NumExt = $('#frmNumExt').val();
            var NumInt = $('#frmNumInt').val();
            var CP = $('#frmCP').val();
            var Ciudad = $('#frmCiudad').val();
            var Pais = $('#frmPais').val();

            if (Nombre == "") {
                $("#frmNombre").parent().addClass('has-error');
                $("#errorNombre").show();
                valido = false;
            }
            else {
                $("#frmNombre").parent().removeClass('has-error');
                $("#errorNombre").hide();
                valido = true;
            };

            return valido;
        };

        // Si la sucursal no se encuentra registrada procede a insertar la nueva sucursal.
        function IfExistSucursal() {
            $.ajax({
                type: "POST",
                url: "Sucursal/IfExistSucursal",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                data: JSON.stringify({ NombreSucursal: $("#frmNombre").val() }),
                success: function (msj) {
                    console.log(msj);
                    if (msj.sucursal) {
                        var msj = "- Ya existe una Sucurasal registrada con el nombre: " + $("#frmNombre").val();
                        $('#msjAlerta').html('<div class="alert alert-danger" role="alert">' + msj + '</div>');
                        $('#msjAlerta').show();
                    } else {
                        AddSucursal();
                    };
                },
                error: function (request, error) {
                    console.log("error");
                    alert(request.statusText);
                }
            })
        };

        function AddSucursal() {
            var SucursalModel = {
                id_sucursal: -1,
                id_empresa: -1,
                nombre: $('#frmNombre').val(),
                calle: $('#frmCalle').val(),
                colonia: $('#frmColonia').val(),
                num_ext: $('#frmNumExt').val(),
                num_int: $('#frmNumInt').val(),
                codigo_postal: $('#frmCP').val(),
                ciudad: $('#frmCiudad').val(),
                pais: $('#frmPais').val()
            };

            $.ajax({
                type: "POST",
                url: "Sucursal/AddSucursal",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                data: JSON.stringify({ model: SucursalModel }),
                success: function (msj) {
                    console.log(msj);
                    if (msj.respuesta != "") {
                        $("#frmNuevaSucursal").modal("hide");
                        window.location.reload();
                        console.log(msj.respuesta);
                    }
                    else {
                        console.log(msj.error);
                    }
                },
                error: function (request, error) {
                    console.log("error");
                    alert(request.statusText);
                }
            })
        };

        $(document).ready(function () {

            //Inicializar controles númericos
            $('#frmNumExt, #frmNumInt, #frmCP').numeric({ decimal: false, negative: false });

            $('#btnGuardarSucursal').on('click', function () {
                if (ValidarRequeridos()) {
                    IfExistSucursal();
                };
            });

        });
    </script>
}

