@model IEnumerable<DocsDigitalesApp.Models.SucursalViewModel>

@{
    Layout = "~/Views/Shared/_Main.cshtml";
}

<div class="container">
    <table class="table table-hover">
        <tr>

@*            <th>
                @Html.DisplayNameFor(model => model.id_sucursal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_empresa)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.calle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.colonia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.num_ext)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.num_int)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.codigo_postal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ciudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.no_empleados)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
@*                <td>
                    @Html.DisplayFor(modelItem => item.id_sucursal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id_empresa)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.calle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.colonia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.num_ext)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.num_int)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.codigo_postal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ciudad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pais)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.no_empleados)
                </td>
                @*                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>*@
            </tr>
        }

    </table>

</div>
