<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title</title>

    <!-- Estilos y Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .navbar {
            margin-bottom: 20px;
        }
    </style>
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>

    <div class="container">

        <!-- Static navbar -->
        <div class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Documentos Digitales</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">@Html.ActionLink("Inicio", "Index", "Home")</li>
                        @if (Request.IsAuthenticated)
                        {                  
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administración <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Sucursales", "Index", "Sucursal")</li>
                                    <li>@Html.ActionLink("Empleados", "Index", "Empleado")</li>
                                    <li><a href="#">Configuración</a></li>
                                </ul>
                            </li>
                        }
                    </ul>
                    @if (Request.IsAuthenticated)
                    { 
                        <ul class="nav navbar-nav navbar-right">
                            <li>

                                <a href="@Url.Action("Logout", "Autentificar")">@Html.Encode(User.Identity.Name) (Salir)</a>

                            </li>
                        </ul>
                    }
                </div>
                <!--/.nav-collapse -->
            </div>
            <!--/.container-fluid -->
        </div>

        @RenderBody()


        <!-- jQuery y archivos JavaScript -->
        <script src="/Scripts/jquery-1.9.1.min.js"></script>
        <script src="/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
